html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 0.75rem;
}

#headLogo {
    height: 150px;
    width: auto;
}

nav .list-group-item {
    border: 0;
}

footer a:link, footer a:visited, header a:link, header a:visited, a:link.docButton , a:visited.docButton {
    color: inherit;
}

a:link, a:visited {
    color: #000768;
    text-decoration: none;
}

header a:hover, a:hover {
    color: #8b8b8b;
}

a:hover.docButton{
    color: #ffffff;
}

header .container-fluid{
    padding: 0;
}

h1, h2, h3 {
    font-size: 1rem;
    font-weight: 600;
}

.text-left{
    text-align: left; 
}

.cvColHead{
    margin:auto;
}

.margin{
    margin: 2em 0;
}

.card{
    border: none;
    text-align: left;
}

/* Contact Social Page Icons */
.contactSocials{
    font-size: 2rem;
    margin: auto;
}

.contactSocials a:link, .contactSocials a:visited{
    color: #342E2E;
}

.contactSocials a:hover{
    color: #8b8b8b;
}

footer p{
    margin: 0;
}

@media (min-width: 1200px){
    nav {
        font-size: 1rem;
    }
}

@media print{
    .noprint{
        display: none;
    }

    .cvColHead{
        position: relative;
        left: 0;
    }

}