html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 0.7rem;
}

#headLogo {
    height: 150px;
    width: auto;
}

nav .list-group-item {
    border: 0;
}

a:link {
    color: #342E2E;
    text-decoration: none;
}
a:visited {
    color: #342E2E;
}

a:hover {
    color: #8b8b8b;
}

header .container-fluid{
    padding: 0;
}

h1, h2, h3 {
    font-size: 1rem;
    font-weight: 600;
}

.card{
    border: none;
    text-align: left;
}

@media (min-width: 1200px){
    nav {
        font-size: 1rem;
    }
}